---
layout: default
title: About
permalink: /about
---

<div id="main">

    <article class="post">
        <header>
            <div class="title">
                <h2>About Us</h2>
                <p>
                    WRENCH is open-source software distributed under the <strong style="color: #999">LGPLv3
                    license</strong>.
                </p>
            </div>
        </header>
        <p>
            WRENCH is developed by a collaborative team from the
            <a href="https://www.ics.hawaii.edu" target="_blank">University of Hawai'i at Mãnoa</a> (UHM),
            the <a href="https://isi.edu" target="_blank">University of Southern California</a> (USC),
            the <a href="https://www.ornl.gov/group/dlsw" target="_blank">Oak Ridge National Laboratory</a> (ORNL),
            and the <a href="https://cnrs.fr" target="_blank"> National Center for Scientific Research</a> (CNRS).
        </p>
        <br/>
        <h2>Our Team</h2>
        <br/>
        <div class="row">
            {% if site.data.team_current.size > 0 %}
            {% for n in site.data.team_current %}
            <div class="col-sm-6 col-xs-12">
                <div class="team-single">
                    <img src="/images/aboutus/{{ n.photo }}" alt=""/>
                    <div class="social-profile">
                        <a href="mailto:{{ n.email }}"><i class="fa fa-envelope"></i></a>
                        <br/>
                        <a href="{{ n.linkedin }}" target="_blank"><i class="fab fa-linkedin"></i></a>
                        <br/>
                        <a href="{{ n.website }}" target="_blank"><i class="fa fa-link"></i></a>
                    </div>
                    <div class="person-info">
                        <h1>{{ n.name }}</h1>
                        <p>{{ n.description }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% endif %}
        </div>
        <br/>
    </article>

    <article class="post">
        <h2>Previous Contributors</h2>
        <br/>
        <div class="row">
            {% if site.data.team_previous.size > 0 %}
            {% for n in site.data.team_previous %}
            <div class="col-sm-4 col-xs-6">
                <div class="team-single previous">
                    <img src="/images/aboutus/{{ n.photo }}" alt=""/>
                    <div class="person-info">
                        <h1 style="font-size: 0.8em; margin: 0 !important; letter-spacing: 0.1em">
                            <a href="{{ n.linkedin }}" target="_blank"> <i class="fab fa-linkedin"></i>
                                {{ n.name }}</a>
                        </h1>
                        <p style="font-size: 0.8em">{{ n.description }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </article>

    <article class="post">
        <h2>Funding Support</h2>
        <br/>
        Since its inception in 2017, the WRENCH project has received continued funding from the
        US National Science Foundation (NSF) and the French National Center for Scientific Research
        (CNRS):
        <ol reversed>
            <li>
                2021-2024 - NSF CSSI Program: awards
                <a href="https://nsf.gov/awardsearch/showAward?AWD_ID=2103489" target="_blank">#2103489</a> and
                <a href="https://nsf.gov/awardsearch/showAward?AWD_ID=2103508" target="_blank">#2103508</a>
            </li>
            <li>
                2021-2024 - NSF OAC Core Program: awards
                <a href="https://nsf.gov/awardsearch/showAward?AWD_ID=2106059" target="_blank">#2106059</a> and
                <a href="https://nsf.gov/awardsearch/showAward?AWD_ID=2106147" target="_blank">#2106147</a>
            </li>
            <li>
                2019-2022 - NSF Cybertraining Program: awards
                <a href="https://nsf.gov/awardsearch/showAward?AWD_ID=1923539" target="_blank">#1923539</a> and
                <a href="https://nsf.gov/awardsearch/showAward?AWD_ID=1923621" target="_blank">#1923621</a>
            </li>
            <li>
                2017-2019 - NSF SI2-SSE Program: awards
                <a href="https://nsf.gov/awardsearch/showAward?AWD_ID=1642335" target="_blank">#1642335</a> and
                <a href="https://nsf.gov/awardsearch/showAward?AWD_ID=1642369" target="_blank">#1642369</a>
            </li>
            <li>
                2016-2018 - CNRS PICS Program: award #07239
            </li>
        </ol>
    </article>

</div>
