---
layout: default
title: Previous Releases
permalink: /previousreleases
---

<div id="main">
    <article class="post">
        <header>
            <div class="title">
                <h2>Previous Releases</h2>
                <p>WRENCH is open-source software distributed under the <strong style="color: #999">LGPLv3
                    license</strong>.</p>
            </div>
        </header>

        <div style="margin-bottom: 2em; text-align: center">
            <a href="/previousreleases" class="release-btn"
               style="border-radius: 0.5em; padding: 0.4em 2em !important; font-size: 1em; color: #333 !important;">
                <i class="fa fa-bullhorn"></i> Get the Latest Release
            </a>
        </div>

        {% assign releases = site.data.releases %}
        {% for release in releases offset: 1 %}
        <div class="release-box">
            <strong style="font-size: 1.3em">WRENCH-{{release.version}}</strong>
            <span style="color: #aaa">({{release.date}})</span><br/><br/>
            <a href="https://github.com/wrench-project/wrench/releases/tag/v{{release.version}}" style="padding: 0.3em 2em">
                <i class="fa fa-download"></i>&nbsp;&nbsp;
                Download
            </a>
            <br/>
            <div style="margin-top: 1em">
                <a href="/wrench/{{release.version}}/install.html" class="release-btn">
                    <i class="fa fa-cog"></i> Installation</a>&nbsp;&nbsp;
                <a href="/wrench/{{release.version}}/index.html" class="release-btn">
                    <i class="fa fa-book"></i> Documentation</a>&nbsp;&nbsp;
                <a href="https://hub.docker.com/r/wrenchproject/wrench/" target="_blank"
                   class="release-btn"><i class="fab fa-docker"></i> Docker Containers</a>&nbsp;&nbsp;
                <a href="/wrench/{{release.version}}/wrench-101.html" class="release-btn">
                    <i class="fa fa-graduation-cap"></i> WRENCH 101</a>&nbsp;&nbsp;
                <a href="/wrench/{{release.version}}/wrench-102.html" class="release-btn">
                    <i class="fa fa-graduation-cap"></i> WRENCH 102</a>
            </div>
            <hr/>
            This release includes a series of new features and bug fixes, including:
            <ul style="margin-left: 1em; margin-bottom: 0">
                {% for desc in release.description %}
                <li>{{desc}}</li>
                {% endfor %}
            </ul>
            <br/>
            <a href="https://simgrid.org" target="_blank" class="simgrid">
                Requires SimGrid {{release.simgrid_version}}
            </a>
        </div>
        {% endfor %}
    </article>

</div>
