---
layout: default
title: Publications
permalink: /publications
---

<div id="main">

    <article class="post">
        <header>
            <div class="title">
                <h2>Publications</h2>
                <p>Research Papers, Journal Articles, and Technical Reports</p>
            </div>
        </header>
        <h2>Citing WRENCH</h2>
        <p>When citing WRENCH, please use the following paper. You should also actually read
            that paper, as it provides a recent and general overview on the framework.</p>
        <pre class="wrap">
H. Casanova, R. Ferreira da Silva, R. Tanaka, S. Pandey, G. Jethwani, W. Koch, S. Albrecht, J. Oeth, and F. Suter,
"Developing Accurate and Scalable Simulators of Production Workflow Management Systems with WRENCH",
Future Generation Computer Systems, vol. 112, p. 162-175, 2020.</pre>
        <pre class="wrap">
@article{wrench,
  title = {{ "{{Developing Accurate and Scalable Simulators of Production Workflow Management Systems with WRENCH"}}}},
  author = {Casanova, Henri and Ferreira da Silva, Rafael and Tanaka, Ryan and Pandey, Suraj and Jethwani, Gautam and Koch, William and Albrecht, Spencer and Oeth, James and Suter, Fr\'{e}d\'{e}ric},
  journal = {Future Generation Computer Systems},
  volume = {112},
  number = {},
  pages = {162--175},
  year = {2020},
  doi = {10.1016/j.future.2020.05.030}
}</pre>
    </article>

    <article class="post">
        <header>
            <div class="title">
                <h3>All Publications</h3>
            </div>
        </header>
        <ol reversed>
            {% if site.data.publications.size > 0 %}
            {% for n in site.data.publications %}
            <li style="padding-bottom: 1em">
                {{ n.authors }},
                <a href="{{ n.url }}" target="_blank"><strong>{{ n.title }}</strong></a>.
                {{ n.description }}.
                doi: <a href="http://dx.doi.org/{{ n.doi }}" target="_blank">{{ n.doi }}</a>
            </li>
            {% endfor %}
            {% endif %}
        </ol>
    </article>

</div>
