---
layout: default
---

<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="page-section">
                    <h1 class="page-title ">They Use WRENCH</h1>
                    <div class="page-breadcrumb">
                        Publications, Simulators, and Research enabled by WRENCH.
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 hidden-xs">
                <div class="page-section">
                    <p>
                        <!-- ADD GENERAL TEXT ABOUT DOWNLOADS -->
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="space-small">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h2>Simulators</h2>
            </div>
        </div>
        <div class="row">
            {% if site.data.usage.size > 0 %}
            {% for n in site.data.usage %}
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <div class="plan-block" style="padding: 1.5em">
                    <div class="plan-header">
                        <h3>{{ n.name }}</h3>
                    </div>
                    <div class="plan-content">
                        <p>{{ n.description }}</p>
                        <p>
                            <a href="{{ n.url }}" target="_blank"
                               class="btn btn-default btn-xs">
                                <i class="fab fa-github"></i> GitHub Repository
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</div>

<div class="space-medium bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <div class="feature-block">
                    <a href="https://github.com/wrench-project/wrench" target="_blank" class=" feature-icon">
                        <i class="far fa-envelope"></i>
                    </a>
                    <div class="feature-content">
                        <p style="margin-bottom: 1em">If you would like to publish your WRENCH-enabled simulator
                            in this page, reach out to the team by sending an email to:</p>
                        <pre>support@wrench-project.org</pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
