<section id="footer">
    <p class="copyright">
        &copy;2017-{{ site.time | date: '%Y' }} WRENCH Team
    </p>

    <p class="copyright" style="font-size: 0.6em">
        Mainly developed by:<br/>
        <a href="https://www.ics.hawaii.edu/" target="_blank"
           style="text-decoration: none !important; border-bottom: none !important;">
            <img src="/images/logo-uhm.png" alt="University of Hawaii at Manoa"/>
        </a>
        <a href="https://www.ornl.gov/group/dlsw" target="_blank"
           style="text-decoration: none !important; border-bottom: none !important;">
            <img src="/images/logo-ornl.png" alt="Oak Ridge National Laboratory"/>
        </a>
        <a href="https://isi.edu/" target="_blank"
           style="text-decoration: none !important; border-bottom: none !important;">
            <img src="/images/logo-usc.png" alt="University of Southern California"/>
        </a>
    </p>

    <p class="copyright" style="font-size: 0.6em; margin-top: 2em !important;">
        WRENCH is funded by the National Science Foundation (NSF) under grants number <a
            href="https://nsf.gov/awardsearch/showAward?AWD_ID=2103489" target="_blank">2103489</a>,
        <a href="https://nsf.gov/awardsearch/showAward?AWD_ID=2103508" target="_blank">2103508</a>,
        <a href="https://nsf.gov/awardsearch/showAward?AWD_ID=1923539" target="_blank">1923539</a>, and
        <a href="https://nsf.gov/awardsearch/showAward?AWD_ID=1923621" target="_blank">1923621</a>;
        and the National Center for Scientific Research (CNRS) under grant number PICS07239.
    </p>
    <p class="copyright" style="font-size: 0.6em">
        Any opinions, findings, and conclusions or recommendations expressed in this material are those
        of the author(s) and do not necessarily reflect the views of the National Science Foundation or
        the National Center for Scientific Research.
    </p>
</section>
