<!--Footer-->
<footer id="landing-footer" class="clearfix">
    <div class="row clearfix">
        <p id="copyright" class="col-2">&copy;2017&ndash;{{ site.time | date: '%Y' }} WRENCH Team<br />
            <a href="mailto:support@wrench-project.org">support@wrench-project.org</a>
        </p>

        <div style="float: right; margin-left: 2em; margin-top: 1em;">
            <a href="https://isi.edu/" target="_blank"
                style="text-decoration: none !important; border-bottom: none !important;">
                <img src="/images/logo-usc.png" style="height: 2.8em" alt="University of Southern California" />
            </a>
        </div>
        <div style="float: right; margin-left: 2em; margin-top: 1em;">
            <a href="https://www.ornl.gov/group/workflows-and-ecosystem-services" target="_blank" style="border: 0">
                <img src="/images/logo-ornl.png" style="height: 2.8em" alt="ORNL" />
            </a>
        </div>
        <div style="float: right; margin-left: 1em; margin-top: 1em;">
            <a href="https://www.ics.hawaii.edu" target="_blank" style="border: 0">
                <img src="/images/logo-uhm.png" style="height: 3em" alt="UHM" />
            </a>
        </div>
        <div style="float: right; width: 10em; text-align: right; margin-top: 1em;">Mainly developed by:</div>
    </div>
    
    <div class="row clearfix">
        <p class="col-1">
            WRENCH is funded by the National Science Foundation (NSF) under grants number
            <a href="https://nsf.gov/awardsearch/showAward?AWD_ID=2106059" target="_blank">2106059</a>,
            <a href="https://nsf.gov/awardsearch/showAward?AWD_ID=2106147" target="_blank">2106147</a>,
            <a href="https://nsf.gov/awardsearch/showAward?AWD_ID=2103489" target="_blank">2103489</a>, and
            <a href="https://nsf.gov/awardsearch/showAward?AWD_ID=2103508" target="_blank">2103508</a>;
            and the National Center for Scientific Research (CNRS) under grant number PICS07239.
            Any opinions, findings, and conclusions or recommendations expressed in this material are those
            of the author(s) and do not necessarily reflect the views of the National Science Foundation or
            the National Center for Scientific Research.
        </p>
    </div>
</footer>
<!--End of Footer-->

<!-- Include JavaScript resources -->
<script src="/assets/js/jquery.1.8.3.min.js"></script>
<script src="/assets/js/wow.min.js"></script>
<script src="/assets/js/featherlight.min.js"></script>
<script src="/assets/js/featherlight.gallery.min.js"></script>
<script src="/assets/js/jquery.enllax.min.js"></script>
<script src="/assets/js/jquery.scrollUp.min.js"></script>
<script src="/assets/js/jquery.easing.min.js"></script>
<script src="/assets/js/jquery.stickyNavbar.min.js"></script>
<script src="/assets/js/jquery.waypoints.min.js"></script>
<script src="/assets/js/images-loaded.min.js"></script>
<script src="/assets/js/lightbox.min.js"></script>
<script src="/assets/js/site.js"></script>