{% assign releases = site.data.releases %}
<header id="header">
    <h1><a href="/"><img src="/images/logo-horizontal.png" style="width: 10em" alt=""/></a></h1>
    <nav class="links">
        <ul>
            <li><a href="/wrench/{{releases[0].version}}/" title="User Guide">Documentation</a></li>
            <li><a href="/install" title="Current and Past Releases">Install</a></li>
            <li><a href="/publications" title="Publications">Publications</a></li>
            <li><a href="/usages">They Use WRENCH</a></li>
            <li><a href="/about" title="Who are we?">About</a></li>
            <li><a href="https://eduwrench.org" target="_blank" title="eduWRENCH.org">Education</a></li>
        </ul>
    </nav>
    <nav class="main">
        <ul>
            <li>
                <a href="/wrench/{{releases[0].version}}/getting_started.html">Get Started!</a>
            </li>
        </ul>
    </nav>
</header>
