<title>{% if page.title %} {{ page.title }} - {% endif %}{{ site.title }}: {{ site.subtitle }}</title>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
<meta name="keywords"
      content="workflow, simulation, reproducibility, hpc, energy consumption, green computing, simgrid"/>
<meta name="author" content="Rafael Ferreira da Silva"/>
<meta name="author" content="Henri Casanova"/>

<!-- Prefetch DNS for faster page speed -->
<link rel="dns-prefetch" href="//fonts.googleapis.com"/>
<link rel="dns-prefetch" href="//google-analytics.com"/>
<link rel="dns-prefetch" href="//www.google-analytics.com"/>
<link rel="dns-prefetch" href="//maxcdn.bootstrapcdn.com"/>
<link rel="dns-prefetch" href="//ajax.googleapis.com"/>
<link rel="dns-prefetch" href="//fonts.gstatic.com"/>

<!-- icons -->
<link rel="icon" href="/favicon.ico" type="image/x-icon"/>
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
<link rel="apple-touch-icon" href="/favicon.ico" type="image/x-icon"/>

<!-- stylesheets -->
<link rel="stylesheet" href="/assets/css/bootstrap.min.css"/>
<link rel="stylesheet" href="/assets/css/fontawesome-all.min.css"/>
<link rel="stylesheet" href="/assets/css/main.css"/>

<!-- scripts -->
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/jquery.countTo.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>

<script type="text/javascript">
    $('.dropdown-toggle').dropdown();
</script>

<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-18066333-6', 'auto');
    ga('send', 'pageview');

</script>

<!-- Mailchimp subscription -->
<!--<script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/unique-methods/embed.js"-->
<!--        data-dojo-config="usePlainJson: true, isDebug: false"></script>-->
<!--<script type="text/javascript">-->
<!--    window.dojoRequire(["mojo/signup-forms/Loader"], function (L) {-->
<!--        L.start({-->
<!--            "baseUrl": "mc.us19.list-manage.com",-->
<!--            "uuid": "81e3c140911105a78839c075d",-->
<!--            "lid": "0caeed5c1f",-->
<!--            "uniqueMethods": true-->
<!--        })-->
<!--    })-->
<!--</script>-->
