<section id="sidebar">

    <!-- Intro -->
    <section id="intro">
        <a href="/" class="logo"><img src="/images/logo-vertical.png" alt="" style="max-width: 15em"/></a>
        <header>
            <h2>Cyberinfrastructure<br/>Simulation Workbench</h2>
            <p style="text-transform: none; line-height: 1.5em; margin-top: 0.5em">
                Accurate, scalable, and reproducible simulations
            </p>
        </header>

        <ul class="icons">
            <li>
                <a href="https://github.com/wrench-project/wrench" target="_blank" class="fa-stack fa-2x"
                   style="font-size: 1.5em">
                    <i class="fa fa-circle fa-stack-2x" style="color: #fff"></i>
                    <i class="fab fa-github fa-stack-1x"></i>
                </a>
            </li>
            <li>
                <a href="mailto:support@wrench-project.org" class="fa-stack fa-2x" style="font-size: 1.5em">
                    <i class="fa fa-circle fa-stack-2x" style="color: #fff"></i>
                    <i class="fa fa-envelope fa-stack-1x"></i>
                </a>
            </li>
            <li>
                <a href="http://twitter.com/wrenchproject" target="_blank" class="fa-stack fa-2x"
                   style="font-size: 1.5em">
                    <i class="fa fa-circle fa-stack-2x" style="color: #fff"></i>
                    <i class="fab fa-twitter fa-stack-1x"></i>
                </a>
            </li>
            <li>
                <a href="https://join.slack.com/t/wrench-project/shared_invite/zt-g88hfxj7-pcuxOBMS7jSBkq1EhAn2~Q" target="_blank" class="fa-stack fa-2x"
                   style="font-size: 1.5em">
                    <i class="fa fa-circle fa-stack-2x" style="color: #fff"></i>
                    <i class="fab fa-slack fa-stack-1x"></i>
                </a>
            </li>
        </ul>
    </section>

    {% assign releases = site.data.releases %}
    {% for release in releases limit: 1 %}
    <article class="mini-post release" style="padding: 1em">
        <span class="title">WRENCH's latest release:</span>
        <a href="/install">
            <i class="fa fa-download"></i>&nbsp;&nbsp;
            Download WRENCH-{{release.version}}
        </a>
        <span class="released">Released on {{release.date}}</span>
    </article>
    {% endfor %}

    <!-- Tweets -->
    <div class="mini-post" style="padding: 0">
        <a class="twitter-timeline" data-lang="en" data-height="40em" data-width="100%" data-theme="light"
           href="https://twitter.com/wrenchproject">Tweets by wrenchproject</a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>

    <!-- About -->
    <div class="blurb">
        <p>
            <span style="color: #999; font-size: 0.9em">Powered by:</span><br/>
            <a href="https://simgrid.org" target="_blank" style="border-bottom: none">
                <img src="/images/logo-simgrid.png" alt="SimGrid" style="max-width: 10em"/>
            </a>
            <br/>
            WRENCH implements high-level simulation abstractions on top of the <strong>SimGrid</strong> simulation
            framework to make it possible to build simulators that are accurate, that can run scalably on a single
            computer, and that can be implemented with minimal software development effort.
        </p>
    </div>

    {% include footer.html %}

</section>
